<section class="content">
    <div class="block-content">
      <h3 class="block-title">HISTORIAL</h3>
      <div class="row">
  
        <p-table id="tabla" [value]="anhocats" sortField="ano" sortMode="single" dataKey="ano"
        rowGroupMode="subheader" groupRowsBy="ano">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <h2 class="titulo" style="width: 375px; text-align: center; font-weight: 700;">CAMPEONES URCI</h2>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-anhocat let-expanded="expanded">
            <tr>
                <td class="flex">

                    <h1 class="flex-1 flex align-items-center justify-content-center font-bold  ">{{anhocat.ano}}</h1>

                    <div class="flex align-items-center">
                        <button type="button" pButton pRipple [pRowToggler]="anhocat"
                            class="p-button-text p-button-rounded p-button-plain font-bold ml-3 "
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                    </div>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-anhocat>
            <tr>

                <td class="flex " >
                    
                        
                        <span
                            class="flex-1 flex align-items-center justify-content-center font-bold  " >{{anhocat.nomcorto}}</span>

                        <button type="button" pButton pRipple routerLink="/campeones/{{anhocat.ano}}/{{anhocat.idcategoriah}}"
                        [ngStyle]="{backgroundColor:'var(--indigo-600)', color: 'var(--indigo-50)'}"
                        class="p-button-text p-button-rounded p-button-plain font-bold ml-3 reasonButton"
                        [icon]="'pi pi-chevron-right'"
                        > 


                    </button>
                    
                </td>

            </tr>
        </ng-template>
    </p-table>




      </div>
    </div>
  
  </section>