<section class="content">
    <div class="block-content">
        <h3 class="block-title">CAMPEONES | HISTORIAL</h3>
        <div class="row">
            
                <div class="card">
                    <div class="face front">
                        
                        <img *ngIf="regional.logo" [src]="mediaLocation+regional.logo" [alt]="regional.logo" />
                        
                        <div class="botones">
                           
                            <button type="submit" [routerLink]="['/blog/campeon']" class="btn inscrip">CAMPEONES</button>
                            
                           <button type="submit" [routerLink]="['/blog/historial']" class="btn list">HISTORIAL</button> 

                           
                        </div>
                        
                    </div>
                    
                </div>
             
            
        </div>
    </div>
  </section>
  