

/**********************************/
/* Pricing Section Code */

/*.plans .heading {
    text-align: center;
    font-size: 6.5rem;
}*/

.plans {
    background: var(--second-bg-color);
}

.plans .plans-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.plans .box {
    padding: 20px ;
    height: 25rem;
    background: var(--bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color-page);
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
}
.plans img{
    
    width: 50%;
  
}
.plans .box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.plans .box h2 {
    font-size: 30px;
    font-weight: 700;
   
}



.plans .box a {
    display: inline-block;
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all 0.5s ease;
}



.plans .box a:hover {
    border-bottom: 2px solid var(--main-color-page);
}

.plans .box:hover {
    border: 1px solid var(--main-color-page);
    transform: translateY(-5px) scale(1.03);
}






