

    <!-- Pricing Section Code -->

    <section class="plans" id="plans">
        <h2 class="heading aos-init" data-aos="zoom-in-down">Calendario <span>{{regional.nomcorto}} {{regional.ano}}</span></h2>


        <div  class="plans-content aos-init" data-aos="zoom-in-up">

            <div *ngFor="let evento of eventoes" class="box">
                <h3>{{ordenes[evento.orden-1].label}} Fecha</h3>
                <img [src]="mediaLocation+evento.club.rutagrande" [alt]="evento.club.rutagrande" />
                <h2><span>{{evento.nomevento | uppercase}}</span></h2>
               
                    
                    <h3 *ngIf="evento.activo != 1">{{evento.fecha | date: 'dd/MM/yyyy':'UTC'}}</h3>
                
                <button *ngIf="evento.activo == 1 && evento.preinscrip==1" type="submit" [routerLink]="['/portfolio/eventobus',evento.idevento]" class="btn inscrip nav-btn">
                    <h3>{{evento.fecha | date: 'dd/MM/yyyy':'UTC'}}</h3> 
                    INSCRIBETE</button>
            </div>
            
        </div>
    </section>