<section class="content" id="about">

    <div class="block-content">
        <h3 class="block-title">Calendario</h3>
        <div class="row">
            

            <div *ngFor="let evento of eventoes" class="col-md-4 col-sm-6 ">
                <div class="card">
                    <div class="face front">
                        <h3 class="onetop">{{ordenes[evento.orden-1].label}} Fecha</h3>
                       
                        <img [src]="mediaLocation+evento.fondo" [alt]="evento.fondo" />
                        <h3 class="twobottom">{{evento.fecha | date: 'dd/MM/yyyy'}}</h3>
                    </div>
                    <div class="face back">
                        <h3>{{evento.nomevento | uppercase}}</h3>
                        <p>{{evento.informacion}}</p>
                        <h3>{{evento.fecha | date: 'dd/MM/yyyy'}}</h3>
                    </div>
                </div>
            </div>
           



        </div>
    </div>
 
</section>