
<p-toast></p-toast>
<div class="fondo">
    <div class="wrapper" >
        <div class="form-box login">


            <h2 class="heading" > <span>Inicio de Sesion</span></h2>
            
                <form (ngSubmit)="formSubmit()">
                    <span class="p-float-label form-field  input-box">
                        <input id="username" type="text" pInputText [(ngModel)]="loginData.username" name="username"
                            required>
                        <label for="username" class="user cblanco"> Nombre de usuario</label>

                    </span>

                    <span class="p-float-label form-field  input-box">
                        <input id="password" type="password" pInputText [(ngModel)]="loginData.password" name="password"
                            required>
                        <label for="password" class="lock cblanco"> La contraseña debe ser valido</label>
                    </span>

       
                        <button pButton pRipple label="Iniciar Session" type="submit"
                            class=" btn-box p-button-raised p-button-secondary mb-1"></button>
                        <br>
                        <button pButton pRipple label="Limpiar" type="reset"
                            class=" btn-box p-button-raised p-button-secondary"></button>

                   
                </form>
                
          
        </div>
    </div>

    
</div>