<p-toast></p-toast>


<div *ngIf="!inscripto" class="fondo">
    <div class="wrapper" >
        <div  class="form-box login">

            
                <form (ngSubmit)="formSubmit()">
                    <span class="p-float-label form-field  input-box">
                        <input id="buscado" type="text" pInputText [(ngModel)]="buscado" name="buscado"
                            required>
                        <label for="buscado" class="user cblanco"> C.I. Corredor</label>

                    </span>

                    <button pButton pRipple label="Buscar" type="submit"
                        class=" btn-box p-button-raised p-button-secondary mb-1"></button>
                    
                        
                </form>
                
          
        </div>
    </div>

    
</div>

<app-carnet *ngIf="inscripto && corredor.carnetfpc==2"
      [corredor]="corredor"
      ></app-carnet>
      
<img *ngIf="inscripto && corredor.carnetfpc==1" [src]="mediaLocation+corredor.foto" width="100%" style="max-width: 500px; margin-top: 60px;" alt="carnet FPC imagen">
  