<section class="content">
    <div class="block-content">
        
        <h3 class="block-title">Inscripcion - {{ordenevento}} Fecha</h3>
        <div class="row">
            <div class="screen">
                <div class="screen__content">

                    <ul>
                        <li>
                            <img *ngIf="evento.fondo" [src]="mediaLocation+evento.fondo" [alt]="evento.fondo" />
                        </li>
                    </ul>


                    <ol>
                        <li>
                            <div class="icon"><i class="fa-solid fa-bicycle"></i></div>
                            <div class="title">Costo</div>
                            <div class="descr">{{evento.montopric}} Gs.</div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-car"></i></div>
                            <div class="title">Lugar</div>
                            <div class="descr">{{evento.direccion}}</div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-helicopter"></i></div>
                            <div class="title">Banco</div>
                            <div class="descr">{{evento.deposito}}</div>
                        </li>
                        
                        <a href="{{evento.urlpromocional}}" [tabIndex]="50" target="_blank">
                            <li>
                                <div class="icon"><i class="fa-solid fa-plane"></i></div>
                                <div class="title">Mapa</div>
                                <div class="descr">Trayectos y Kms.</div>
                            </li>
                        </a>
                        
                        <li>
                            <div class="icon"><i class="fa-solid fa-rocket"></i></div>
                            <div class="title">Informes</div>
                            <div class="descr">{{evento.informacion}}</div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-bus"></i></div>
                            <div class="title" style="font-size: 1.6rem;">Inscribete</div>
                            <div class="descr"></div>
                        </li>
                    </ol>

                    <p-toast></p-toast>

                    <div class="fondo">
                        <div class="wrapper" >
                            <div class="form-box login">
                    
                                
                                    <form (ngSubmit)="formSubmit()">
                                        <div class="field">
                                            <label for="informacion">Terminos de Participacion</label>
                                            <textarea rows="5" cols="37" pInputTextarea  class="prime" readonly>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quaerat accusantium culpa, fugit ducimus dignissimos reiciendis nostrum possimus hic repudiandae atque distinctio quae tempora repellat, voluptas, iusto quisquam tempore corrupti placeat. Aspernatur sapiente in aut laboriosam cum iste cupiditate voluptate.
                                            </textarea>
                                        </div>
                                        <span class="p-float-label form-field  input-box">
                                            <input id="ci" type="text" pInputText [(ngModel)]="ci" name="ci"
                                                required>
                                            <label for="ci" class="cblanco"> Cedula de identidad</label>
                    
                                        </span>
                    
                                        <span class="field-checkbox ">
                                            <p-checkbox  name="grupo" [binary]="true"   [(ngModel)]="selectedTerminos" inputId="selected" ></p-checkbox>
                                            <label for="selected" class="cblanco">Click para aceptar
                                            </label>                        
                                        </span>
                    
                                        
                                            <button pButton pRipple label="Inscribirse" type="submit"
                                                class=" btn-box p-button-raised p-button-secondary" [disabled]="!selectedTerminos"></button>
                    
                                                <button type="submit" [routerLink]="['/registrocorredor']" class="btn inscrip">INSCRIBIRSE</button>
                                       
                                    </form>
                                    
                              
                            </div>
                        </div>
                    
                    </div>

                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>



        </div>
    </div>

</section>