<p-toast></p-toast>

<p-table #dt [value]="eventoes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre']"
    [tableStyle]="{'min-width': '50rem'}" [rowHover]="true" dataKey="idevento"
    currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} totales" [showCurrentPageReport]="true">

    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2" (click)="showModal()"></button>
            <h2 class="m-0">Eventoes</h2>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Logo</th>
            <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th>Club</th>
            
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
        <tr>
            <td><img [src]="mediaLocation+evento.fondo" [alt]="evento.fondo" width="100" class="shadow-4" /></td>

            <td>{{evento.nomevento | uppercase}}</td>
            <td>{{evento.club.nomclub}}</td>
            
            
            <td>
                 <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="editEvento(evento)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteEvento(evento)"></button> 
            </td>
        </tr>
    </ng-template>
</p-table>

 <app-add-edit-evento 
    [displayAddEditModal]="displayAddEditModal"
    [selectedEvento]="selectedEvento"
    (clickClose)="hideModal($event)"
    (clickAddEdit)="saveEventoToList($event)"
></app-add-edit-evento> 

<p-confirmDialog header="Borrar" [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle"></p-confirmDialog>