<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-server" [routerLink]="'/'"></p-button>

  </div>
  <h2 style="padding: 0;">Sistema Campeonatos Regionales</h2>
  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-server" [routerLink]="'/corre/corre'"></p-button>

    <p-button icon="pi pi-user" *ngIf="!login.isLoggedIn()" [routerLink]="'/login'"
      styleClass="p-button-success"></p-button>

    <p-button icon="pi pi-user-plus" *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'"
      styleClass="p-button-danger"></p-button>

    <p-button icon="pi pi-power-off" *ngIf="isLoggedIn && user" (click)="logout()"
      styleClass="p-button-danger"></p-button>
  </div>





</p-toolbar>