
  
.fondo{
  font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    padding: 60px 0px;
    
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 353px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
   /* backdrop-filter: blur(20px);*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.imgwrapper{
 /* background-image: url('http://localhost:8080/urcipy/media/virtualfrente.png') ;*/
 background-image: url('https://www.urcipy.org/urcipy/media/virtualfrente.png') ;
 /*background-image: url('http://137.184.183.19:8080/urcipy/media/virtualfrente.png') ;*/
 
}


.wrapperone h1{
  color: greenyellow;
  
  font-weight: 800;
  font-size: 18px; 
 
}
.wrapperone .socio{
  position: absolute;
  color: greenyellow;
  top: 20px;
  left: 20px;
  
}

.wrapperone .socio h1{
  color: greenyellow;
  font-size: 28px;
  
}

.wrapperone .textotitulo{
  position: absolute;
  top: 90px;
  left: 10px;

}
.wrapperone .textotitulo h4{
  color: white;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 300;
}

.wrapperone .credencial{
  position: absolute;
  top: 145px;
  left: 10px;
  
}

.wrapperone .credencial h3{
  color: #fff;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}
.wrapperone h2{   
    font-weight: 600;
    letter-spacing: 1px;
    color: greenyellow;
}
.wrapperone .corredor{
  position: absolute;
  top: 190px;
  left: 10px;
  width: 280px;
}

.wrapperone .categoria h3{
  color: greenyellow;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2px;
}

.wrapperone .club h3{
  color: greenyellow;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2px;
}

.wrapperone .categoria{
  position: absolute;
  top: 250px;
  left: 10px;
}

.wrapperone .club{
  position: absolute;
  top: 270px;
  left: 10px;
}

.imgwrappertwo{
  margin-top: 20px;
  /*background-image: url('http://localhost:8080/urcipy/media/virtualatras.jpg') ;*/
  background-image: url('https://www.urcipy.org/urcipy/media/virtualatras.png') ;
  /*background-image: url('http://137.184.183.19:8080/urcipy/media/virtualatras.jpg') ;*/
  
}



.wrappertwo h1{   
  font-weight: 300;
  text-align:center;
  color: white;
  font-size: 20px;  
}
.wrappertwo h2{   
  font-weight: 600;
  text-align:center;
  color: greenyellow;
}

.wrappertwo .club{
  position: absolute;
  top: 20px;
  left: 220px; 
  width: 150px;
}


.wrappertwo .credencial{
  position: absolute;
  top: 150px;
  left: 180px; 
}
.wrappertwo .categoria{
  position: absolute;
  top: 220px;
  left: 160px;
  width: 280px;
}
.wrappertwo .categoria h2{   
  font-weight: 800;
  text-align:center;
  color: greenyellow;
}

.wrappertwo .textotitulo{
  position: absolute;
  top: 280px;
  left: 180px;
  text-align: center;
}

.wrappertwo .textotitulo h4{
  color: white;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 300;
}

  @media (max-width: 450px){
    .fondo{
        margin-top: 60px;     
    }
    
    .wrapper{    
        max-width: 400px;
        height: 235px;
        border-radius: 10px;
    }
    
    
    .wrapperone .socio{
      position: absolute;
      color: greenyellow;
      top: 1px;
      left: 10px;
      
    }
    
    .wrapperone .socio h1{
      color: greenyellow;
      font-size: 22px;
      
    }

    .wrapperone h1{
      color: greenyellow;
      font-weight: 800;
      font-size: 18px; 
     
    }
    
    .wrapperone .credencial{
      position: absolute;
      top: 90px;
      left: 10px;
    }
    
    .wrapperone h2{   
        font-weight: 600;
        font-size: 16px;
        padding: 0;
        line-height: 13px;
    }
    .wrapperone .corredor{
      position: absolute;
      top: 123px;
      left: 10px;
      width: 190px;
    }
    .wrapperone .credencial h3,
    .wrapperone .categoria h3,
    .wrapperone .club h3{
      font-weight: 300;
      font-size: 10px;
      text-transform: uppercase;
     
    }
    .wrapperone .categoria{
      position: absolute;
      top: 170px;
      left: 10px;
    }
    
    .wrapperone .club{
      position: absolute;
      top: 185px;
      left: 10px;
    }

/*****************/

.wrappertwo h1{    
  font-size: 18px; 
  padding: 0;
  margin:0;
}
.wrappertwo h2{   
  font-size: 16px;
  line-height: 14px;
  
}

.wrappertwo .club{
  position: absolute;
  top: 5px;
  left: 145px; 
  width: 100px;
}


.wrappertwo .credencial{
  position: absolute;
  top: 105px;
  left: 115px; 
}
.wrappertwo .categoria{
  position: absolute;
  top: 145px;
  left: 118px;
  width: 165px;
  
}

.wrappertwo .textotitulo{
  position: absolute;
  top: 190px;
  left: 125px;
  text-align: center;
  
}

.wrappertwo .textotitulo h4{
  color: white;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
      
}

  }