<div class="fondo">
  <div class="wrapper wrapperone imgwrapper" >
    <div class="credencial"><h1>{{corredor.idcorredor}}</h1></div>  
    <div class="corredor"><h2>{{corredor.corredor}}</h2></div>
    <div class="club"><h3>{{corredor.club}}</h3></div>
    <div class="categoria"><h3>{{corredor.categoria}}</h3></div>
    
  </div>

  <div class="wrapper wrappertwo imgwrappertwo" >
    <div class="credencial"><h2>{{corredor.idcorredor}}</h2></div>  
    <div class="nombre"><h2>{{corredor.nombre}}</h2></div>
    <div class="apellido"><h2>{{corredor.apellido}}</h2></div>
    <div class="club"><h2>{{corredor.club}}</h2></div>
    <div class="fecnac"><h2>{{corredor.fecnac | date: 'dd/MM/yyyy'}}</h2></div>
    <div class="categoria"><h2>{{corredor.categoria}}</h2></div>
    
  </div>
</div>


  
