
<div class="hero">
    <div class="blur hero-blur"></div>
    <div class="left-h">
        <app-header></app-header>
        <!-- {/* El mejor best ad */} -->

        <div class="the-best-ad">

            <div class="the-best-ad-1"></div>
            <span>Cronometra con precision el tiempo de llegada...</span>
        </div>
        <!-- {/* Hero Heading */} -->
        <div class="hero-text">
            <div>
                <span class="stroke-text">CRONOSTAR</span>
            </div>
            <div>
                <span>TUS TIEMPOS</span>
            </div>
            <div>
                <span>
                    Aqui nosotros te ayudamos a llevar un control de tus tiempos de
                    llegada y salida
                </span>
            </div>
        </div>
        <!-- {/* Hero Button */} -->
        <div class="figures">
            <div>
                <span>
                    <!-- <NumberCounter end={4} start={0} delay={4} preFix="+"></NumberCounter> -->
                     +4
                </span>
                <span>Campeonatos</span>
            </div>
            <div>
                <span>
                    <!-- <NumberCounter end={20} start={0} delay={4} preFix="+"></NumberCounter> -->
                     +20
                </span>
                <span>Eventos</span>
            </div>
            <div>
                <span>
                    <!-- <NumberCounter end={1000} start={500} delay={5} preFix="+"></NumberCounter> -->
                     +1000
                </span>
                <span>Corredores</span>
            </div>

        </div>
        <!-- {/* Hero Buttons */} -->
        <div  class="hero-buttons">

            <button *ngFor="let evento of eventoes" class="btn" role="link"
                (click)="openInNewTab('https://live.cronostar.com/g-live/g-live.html?f=./resultado/2025/'+evento.idevento+'/'+evento.fondocolor)">Ver
                Resulados {{evento.nomevento | uppercase}}</button>
            <button class="btn" [routerLink]="['/resumen']">Eventos</button>
        </div>
    </div>

    <div class="right-h">
        

        <div 
            class="heart-rate">
            <img src="../../../../assets/images/heart.png" alt="heart" />
            <span>Heart Rate</span>
            <span>170 bpm</span>
        </div>
        <!-- {/* Imagen de hero */} -->
        <!-- <img src="../../../../assets/images/hero_image.png" class="hero-image" alt="hero" /> -->
        <img [src]="mediaLocation+event.club.ruta" class="hero-image" [alt]="event.club.ruta" />
        <img 
            src="../../../../assets/images/hero_image_back.png" class="hero-image-back" alt="hero back" />
    </div>
    <!-- /* Calories */ -->
    <div class="calories">
        <img src="../../../../assets/images/calories.png" alt="calories" />
        <div>
            <span>Calorias Quemadas</span>
            <span>1500 kcal</span>
        </div>
    </div>
</div>
<!--Programs-->
<div class="Programs" id="programs">
    
    <div class="programs-header">
        <span>Experimente</span>
        <span class='stroke-text'>Nuevas</span>
        <span>Emociones</span>
    </div>

    <div class="programs-categories">
        <div *ngFor="let program of programsData" class="category" >
            <img [src]="'../../../../assets/images/'+program.image" alt="imagen">
            <span>{{program.heading}} </span>
            <span>{{program.details}} </span>
            
        </div>
    </div>
</div>
<app-reason></app-reason>