
<div class="hero">
    <div class="blur hero-blur"></div>
    <div class="left-h">
      
        <!-- {/* Hero Heading */} -->
        <div class="hero-text">
            <div>
                <span class="stroke-text">AUTOS LOCOS</span>
            </div>
            
        </div>
        
        <img  [src]="mediaLocation+event.club.ruta" class="hero-image" [alt]="event.club.ruta" />
        <img 
            src="../../../../assets/images/hero_image_back.png" class="hero-image-back" alt="hero back" />
    </div>

    
   
    
</div>
