* {
  margin: 0;
 }
 
.contenedornav{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #232323 !important;
}
 .contenedor{
  display: flex;
  background-color:  #232323 !important;
 }
 .contenedor .principal-body{
  width: 100%;
  height: 100%;
  /*height: 93vh;*/
 }
 /*.contenedor:after{ NO UTILIZAMOS PORQUE MOLESTA
  content: 'URCi';
  position: absolute;
  top: 0;
  left: 35%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic; 
  color: rgba(24, 173, 11, 0.486)
}*/

 .contenedor aside{
   width: 0;
   overflow-y: auto;
   transition: all 0.5s;
 
 }

 .alineacionizquierda{
  margin-left: 200px;
  padding-left: 30px;
  justify-content: end;
  align-items: end; 
  
 }

 .p-component-overlay
 {
  position: absolute !important;
 }
 /*Im using hover event to expand sidebar for example, you can use JS to handle click event*/
 /*.container aside{
   width: 400px;
 }*/

