<!-- Reason-->
<div class="Reasons" id="reasons">
    <div class="left-r">
      <img src="../../../../assets/images/image1.png" alt="image1" />
      <img src="../../../../assets/images/image2.png" alt="image2" />
      <img src="../../../../assets/images/image3.png" alt="image3" />
      <img src="../../../../assets/images/image4.png" alt="image4" />
    </div>
    <div class="rigth-r">
      <span>Misma Razon</span>

      <div>
        <span class="stroke-text">Por que </span>
        <span>Elegirnos</span>
      </div>

      <div class="details-r">
        <div>
          <img src="../../../../assets/images/tick.png" alt=""/>
          <span>CONTROL DE DORSALES CON CHIP</span>
        </div>
        <div>
          <img src="../../../../assets/images/tick.png" alt="" />
          <span>RESULTADOS PUBLICADOS AL INSTANTE</span>
        </div>
        <div>
          <img src="../../../../assets/images/tick.png" alt="" />
          <span>RESULTADOS ENVIADOS AL FINALIZAR LA CARRERA</span>
        </div>
        <div>
          <img src="../../../../assets/images/tick.png" alt="" />
          <span>ENTREGA DE DORSALES UN DIA ANTES</span>
        </div>
      </div>
      <span class="partners">
        Nuestros Partners
      </span>
      <div class="partners">
        <img src="../../../../assets/images/nb.png" alt="" />
        <img src="../../../../assets/images/adidas.png" alt="" />
        <img src="../../../../assets/images/nike.png" alt="" />
      </div>
    </div>
  </div>

    <!-- Plans -->
    <div class="plans-container">
        <div class="programs-header">
          <span class="stroke-text">COMIENZA</span>
          <span>A ENTRENAR</span>
          <span class="stroke-text">AHORA MISMO</span>
        </div>
        
        <div class="plans">
        
  
        </div>
      </div>