 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #111111;
    --color-text: #ffffff;
    --main-color-page:rgb(69, 196, 255);
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--color-text);
}

section {
    min-height: 100vh;
    padding: 5rem 4% 1rem;
}



.heading {
    text-align: center;
    font-size: 2.5rem;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 1rem;
    background: transparent;
    color: var(--main-color-page);
    border: 2px solid var(--main-color-page);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease;
    margin: 1rem;

}

.nav-btn:hover {
    background: var(--main-color-page);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color-page);
}


/* Header Section Code */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}


.logo:hover {
    transform: scale(1.1);
}

.home span , .services span, .about span, header span, .plans span{
    color: var(--main-color-page);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
    margin-left: 1.5rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color-page);
    border-bottom: 3px solid var(--main-color-page);
}

#menu-icon {
    font-size: 1.6rem;
    color: var(--main-color-page);
    cursor: pointer;
    display: none;
}






/* ******************Footer Section********************* */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    
}
.footer .social{
    text-align: center;
    padding-bottom: 5px;
    color: var(--main-color-page);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color-page);
    border: 2px solid var(--main-color-page);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
   
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color-page);
    color: #131313;
    box-shadow: 0 0 25px var(--main-color-page);
}
.footer .copyright{
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color-page);
    width: 50px;
}


@media (max-width:991px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }
    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;
    }
    .header {
        padding: 1rem 3%;
    }
    section{
        padding: 3.5rem 3%;
    }
   
   
}

