<section class="content">
    <div class="block-content">
        <h3 class="block-title">RESULTADOS</h3>
        <div class="row">

            <div id="tabla">
                <p-table [value]="resultados" dataKey="categoria" rowGroupMode="subheader"
                    groupRowsBy="categoria">
                    <ng-template pTemplate="header">
                        <tr>
                            <th  style="text-align: center;"   >
                                
                                    <img *ngIf="rutagrande" [alt]="rutagrande" [src]="mediaLocation+rutagrande"
                                        width="150" />
                                
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="groupheader" let-partici let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td class="flex">


                                <span
                                    class="flex-1 flex align-items-center  font-bold   ml-2">{{partici.categoria}}</span>

                                <div class="flex align-items-center">
                                    <button type="button" pButton pRipple [pRowToggler]="partici"
                                        class="p-button-text p-button-rounded p-button-plain font-bold ml-3 "
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="rowexpansion" let-partici>
                        <tr>
                            <td class="flex p-0">
                                <span class="flex align-items-center mx-2 text-xs">{{partici.puestocat}}</span>
                                <span class="flex-1 flex align-items-center text-xs"> {{partici.corredor}}
                                    </span>
                                <span class="flex align-items-center mx-2 text-xs"> {{partici.tiempo}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>

        </div>
    </div>
</section>
