.content {
    position: relative;
    padding: 50px 16px 30px;
    height: auto;
    overflow: hidden;
  }
  
  .row {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
   /*  text-align: center; */
    
  }
  
  .corredor{
      font-family: 'Poppins', sans-serif;
      padding: 0;
    }
  
  
  .corredor h4{
      position: relative;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
    }
    .corredor h5{
     
      font-weight: 300;
      text-transform: uppercase;
      padding: 2px;
    }
    
    .titulo{
      font-family: 'Righteous','Courier New', Courier, monospace;
      text-align: center;
      letter-spacing: 1px;
    }
    @media (max-width: 450px){
      .content {
          padding: 50px 0px 30px;
      }
      .block-title{
          margin-bottom: 0;
          padding-bottom: 0;
      }
    }