<p-dialog header="Header" [(visible)]="displayPagosModal" [modal]="true" [style]="{width: '400px' }"
    (onHide)="closePagosModal()">

    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{modalType}} Pagos</span>
    </ng-template>


        <div class="flex flex-wrap md:justify-content-between justify-content-center">
            <label for="nrogiro">Nro de Deposito</label>
   
            <input type="text" pInputText id="nrogiro" [(ngModel)]="selectedInscripto.nrogiro"  required 
                placeholder="Nro Deposito" class="prime" />
                
         </div>
        <div class="field">
            <label for="kit">Con Kit</label>
            <p-dropdown [options]="kits" [(ngModel)]="selectedInscripto.kit"  id="kit"
                placeholder="Seleccionar tiene kit" autoWidth="false" [style]="{'width':'100%'}"
                optionLabel="label" optionValue="value" [showClear]="true" appendTo="body"></p-dropdown>
        </div>
        <div class="field">
            <label for="pagado">Pagado</label>
            <p-dropdown [options]="pagos" [(ngModel)]="selectedInscripto.pagado"  id="pagado"
                placeholder="Seleccionar si pago" autoWidth="false" [style]="{'width':'100%'}"
                optionLabel="label" optionValue="value" [showClear]="true" appendTo="body"></p-dropdown>
        </div>
        <div class="field flex align-items-center justify-content-evenly flex-wrap">
            <label for="acobrar">Monto</label>
            <p-inputNumber inputId="acobrar" [(ngModel)]="selectedInscripto.acobrar" inputStyleClass="text-right" [required]="true">
            </p-inputNumber>
            
        </div>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-add" (click)="addPagos()" label="{{modalType}}" styleClass="p-button-text" 
          ></p-button>
    </ng-template>

</p-dialog>
