<p-dialog header="Header" [(visible)]="displayAddEditModal" [modal]="true" [style]="{width: '400px' }"
    (onHide)="closeModal()">

    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{modalType}} Movimiento</span>
    </ng-template>

    
    <form [formGroup]="movimientoForm" class="movimiento-form">

        
        <div class="field">

            <label for="fecha">Fecha</label>
            <p-calendar formControlName="fecha" id="fecha" appendTo="body" autoWidth="false"
                [style]="{'width':'100%'}" dateFormat="dd/mm/yy"></p-calendar>
            <small class="p-error" *ngIf="
            movimientoForm.controls['fecha'].invalid && 
            movimientoForm.controls['fecha'].dirty">Fecha del movimiento es requerido.</small>
        </div>

        <div class="field">
            <label for="concepto">Concepto</label>
            <p-dropdown [options]="conceptos" formControlName="concepto"  placeholder="Seleccionar un concepto" autoWidth="false"
            [filter]="true" [filterBy]="'nomconcepto'" 
                [style]="{'width':'100%'}" optionLabel="nomconcepto" [showClear]="true" appendTo="body"></p-dropdown>
        </div>
        
        
        <div class="field flex align-items-center justify-content-evenly flex-wrap">
            <label for="monto">Monto</label>
            <p-inputNumber inputId="monto" formControlName="monto" inputStyleClass="text-right" [required]="true">
            </p-inputNumber>
            <small class="p-error" *ngIf="
                        movimientoForm.controls['monto'].invalid && 
                        movimientoForm.controls['monto'].dirty">Km de la principal es
                        requerido.</small>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-cancel" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-add" (click)="addEditMovimiento()" label="{{modalType}}" styleClass="p-button-text"
            [disabled]="movimientoForm.invalid"></p-button>
    </ng-template>

</p-dialog>
