<section class="content">
    <div class="block-content">
        <h3 class="heading">PUNTAJES | <span>RESULTADOS</span></h3>
        <div class="row">
            
                <div class="card">
                    <div class="face front">
                        
                        <img *ngIf="regional.logo" [src]="mediaLocation+regional.logo" [alt]="regional.logo" />
                        
                        <div class="botones">
                           
                            <button type="submit" [routerLink]="['/contact/categorias']" class="nav-btn btn inscrip">PUNTAJE CATEGORIA</button>

                            <button type="submit" [routerLink]="['/contact/clubpuntaje','principal']" class="btn inscrip nav-btn">PUNTAJE CLUB PRINCIPAL</button>
                            <button type="submit" [routerLink]="['/contact/clubpuntaje','promocional']" class="btn inscrip nav-btn">PUNTAJE CLUB PROMOCIONAL</button>
                            
                           <button type="submit" [routerLink]="['/contact/eventos']" class="btn list nav-btn">RESULTADOS</button> 

                           
                        </div>
                        
                    </div>
                    
                </div>
             
            
        </div>
    </div>
  </section>
  