<div  class="cuadro">
    <img [src]="mediaLocation+evento.club.rutagrande" [alt]="evento.club.rutagrande" class="mb-5" />


    <div class="links">
       <!--  <a *ngIf="evento.urlcategoria && evento.urlcategoria !== ''" href="{{evento.urlcategoria}}" class="youtube" target="_blank">Inscripción</a>-->
        <a *ngIf="evento.preinscrip!==0" class="youtube" routerLink="/portfolio">INSCRIPCION</a>
        <a *ngIf="evento.ubicacion && evento.ubicacion !== ''" href="{{evento.ubicacion}}" class="twitter" target="_blank">CONCENTRACION</a>
        <a *ngIf="evento.ubidorsal && evento.ubidorsal !== ''" href="{{evento.ubidorsal}}" class="linkedin" target="_blank">ENTREGA DORSALES</a>
        <a *ngIf="evento.urlpromocional && evento.urlpromocional !== ''" href="{{evento.urlpromocional}}" class="facebook" target="_blank">TANDAS</a><!-- Mapa -->
        <a *ngIf="evento.gpxprincipal && evento.gpxprincipal !== ''" href="{{evento.gpxprincipal}}" class="facebook" target="_blank">GPX PRINCIPAL</a>
        <a *ngIf="evento.gpxpromocional && evento.gpxpromocional !== ''" href="{{evento.gpxpromocional}}" class="facebook" target="_blank">GPX PROMOCIONAL</a>
        <a *ngIf="evento.dosier && evento.dosier !== ''" href="{{evento.dosier}}" class="youtube" target="_blank">DOSIER - FICHA TÉCNICA</a>
        <a *ngIf="evento.hoteles && evento.hoteles !== ''" href="{{evento.hoteles}}" class="linkedin" target="_blank">HOTELES</a>
        <a *ngIf="evento.facebook && evento.facebook !== ''" href="{{evento.facebook}}" class="facebook" target="_blank">FACEBOOK</a>
        <a *ngIf="evento.instagram && evento.instagram !== ''" href="{{evento.instagram}}" class="instagram" target="_blank">INSTAGRAM</a>
        
        <a class="tiktok"  routerLink="/secundario">URCI</a>
        <a class="tiktok"  routerLink="/asociados">RANKEAR URCI {{regional.ano}}</a>
    </div>
    <!-- Footer -->
    <footer> © {{regional.ano}} URCI <br>
        Contactos: {{evento.contacto}} <br>

    </footer>
</div>

