<div  class="cuadro">
    <img [src]="mediaLocation+evento.club.rutagrande" [alt]="evento.club.rutagrande" class="mb-5" />


    <div class="links">
       <!--  <a *ngIf="evento.urlcategoria && evento.urlcategoria !== ''" href="{{evento.urlcategoria}}" class="youtube" target="_blank">Inscripción</a>-->
        <a *ngIf="!(evento.urlcategoria && evento.urlcategoria !== '')" class="youtube" routerLink="/portfolio">Inscripcion</a>
        <a *ngIf="evento.ubicacion && evento.ubicacion !== ''" href="{{evento.ubicacion}}" class="twitter" target="_blank">Ubi. Concentración</a>
        <a *ngIf="evento.ubidorsal && evento.ubidorsal !== ''" href="{{evento.ubidorsal}}" class="linkedin" target="_blank">Dorsal Sabado</a>
        <a *ngIf="evento.urlpromocional && evento.urlpromocional !== ''" href="{{evento.urlpromocional}}" class="facebook" target="_blank">Mapa</a>
        <a *ngIf="evento.gpxprincipal && evento.gpxprincipal !== ''" href="{{evento.gpxprincipal}}" class="facebook" target="_blank">GPX PRINCIPAL</a>
        <a *ngIf="evento.gpxpromocional && evento.gpxpromocional !== ''" href="{{evento.gpxpromocional}}" class="facebook" target="_blank">GPX PROMOCIONAL</a>
        <a *ngIf="evento.dosier && evento.dosier !== ''" href="{{evento.dosier}}" class="youtube" target="_blank">Dosier - Ficha Técnica</a>
        <a *ngIf="evento.hoteles && evento.hoteles !== ''" href="{{evento.hoteles}}" class="linkedin" target="_blank">Hoteles</a>
        <a *ngIf="evento.facebook && evento.facebook !== ''" href="{{evento.facebook}}" class="facebook" target="_blank">Facebook</a>
        <a *ngIf="evento.instagram && evento.instagram !== ''" href="{{evento.instagram}}" class="instagram" target="_blank">Instagram</a>
        
        <a class="tiktok"  routerLink="/secundario">URCI</a>
    </div>
    <!-- Footer -->
    <footer> © 2025 URCI <br>
        Contactos: {{evento.contacto}} <br>

    </footer>
</div>

