<!-- <app-navbar></app-navbar> -->
<p-toast></p-toast>
<div class="fondo">
    <div class="wrapper" >
        <div class="form-box login">


            <h2 >Inicio de Sesion</h2>
            
                <form (ngSubmit)="formSubmit()">
                    <span class="p-float-label form-field  input-box">
                        <input id="username" type="text" pInputText [(ngModel)]="loginData.username" name="username"
                            required>
                        <label for="username" class="user cblanco"> Nombre de usuario</label>

                    </span>

                    <span class="p-float-label form-field  input-box">
                        <input id="password" type="password" pInputText [(ngModel)]="loginData.password" name="password"
                            required>
                        <label for="password" class="lock cblanco"> La contraseña debe ser valido</label>
                    </span>

       
                        <button pButton pRipple label="Iniciar Session" type="submit"
                            class=" btn-box p-button-raised p-button-secondary mb-1"></button>
                        <br>
                        <button pButton pRipple label="Limpiar" type="reset"
                            class=" btn-box p-button-raised p-button-secondary"></button>

                   
                </form>
                <p-button icon="pi pi-caret-left"  (click)="goresumen()"
    styleClass="p-button-danger alineacionizquierda"></p-button>
          
        </div>
    </div>

    <!-- <div class="container" [ngStyle]="{backgroundColor:'var(--gray-700)'}">
    <div class="text-center mt20" >
        <img src="../../../assets/login.png" alt="" width="100" height="100">
    </div>
    <h1 class="text-center cblanco">Inicio de Sesion</h1>
    <div class="login-item">
        <form (ngSubmit)="formSubmit()">
            <span class="p-float-label form-field">
                <input id="username" type="text" pInputText [(ngModel)]="loginData.username" name="username"
                    required >
                <label for="username" class="user cblanco">  Nombre de usuario</label>

            </span>
            
            <span class="p-float-label form-field">
                <input id="password" type="password" pInputText [(ngModel)]="loginData.password" name="password"
                    required>
                <label for="password" class="lock cblanco">  La contraseña debe ser valido</label>
            </span>

            <span class="p-float-label form-field">
                <button pButton pRipple label="Iniciar Session" type="submit" class="p-button-raised p-button-secondary mb-1" ></button>
                <br>
                <button pButton pRipple label="Limpiar" type="reset"
                    class="p-button-raised p-button-secondary"></button>
    
            </span>
        </form>
    </div>
</div>
 -->
</div>