<section class="content">
    <div class="block-content">
        <h3 class="heading">Inscripcion</h3>
        <div class="row">
            
            <div *ngFor="let evento of eventoes" >
                <div class="card">
                    <div class="face front">
                        <h1 class="onetop">Fecha {{evento.fecha | date: 'dd/MM/yyyy' :'UTC'}}</h1>
                        <!--img [src]="mediaLocation+evento.fondo" [alt]="evento.fondo" /-->
                        <img [src]="mediaLocation+evento.club.rutagrande" [alt]="evento.club.rutagrande" />
                        
                        <div class="botones">
                           <button type="submit" *ngIf="evento.preinscrip==1" [routerLink]="['/portfolio/eventobus',evento.idevento]" class="btn inscrip nav-btn">INSCRIBETE</button>
                           
                            <button type="submit" *ngIf="evento.preinscrip==1 || evento.preinscrip==2" [routerLink]="['/portfolio/inscripciones',evento.activo]" class="btn list nav-btn">LISTA DE INSCRIPTOS</button> 


                            <a href="{{evento.urlcategoria}}" *ngIf="evento.preinscrip==3"  target="_blank" rel="noopener noreferrer" class="btn inscrip nav-btn">
                                INSCRIBETE
                            </a>
                        </div>
                        <!--div class="botones">
                            <button type="submit" [routerLink]="['/portfolio/membrecia']" class="btn inscrip">BUSCAR CARNET</button>
                            
                             
                         </div-->
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>
</section>
  
