<section id="about" class="about">
    <div class="about-img aos-init" data-aos="zoom-in-down">
        <img src="assets/images/testimonials/us.jpg" alt="">
    </div>

    <div class="about-content aos-init" data-aos="zoom-in-up">
        <h2 class="heading"><span>Quienes</span>  somos <span>nosostros?</span></h2>
        <p></p>
        <p>Nuestra diversa base de miembros crea una atmósfera amigable y de apoyo, donde puedes hacer amigos y
            mantente motivado.</p>
        <p>Libera tu potencial con nuestros circuitos mas extremos.</p>
        <p>Mejora tu condición física con sesiones de práctica de entrenamientos.</p>
        <p>Brindamos gestión de apoyo para su éxito físico en el ciclismo.</p>
        
    </div>
</section>
