<p-dialog header="Header" [(visible)]="displayAddEditModal" [modal]="true" [style]="{width: '400px' }"
    (onHide)="closeModal()">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{modalType}} Tipo</span>
    </ng-template>
    <form [formGroup]="tipoForm" class="tipo-form">

                
        <div class="field flex align-items-center justify-content-evenly flex-wrap">
            <label for="nomtipo">Tipo Categoria</label>
            <input type="text" pInputText id="nomtipo" formControlName="nomtipo"  required 
                placeholder="Tipo" class="prime"
                [style]="{'width':'100%'}"  />
            <small class="p-error" *ngIf="
                        tipoForm.controls['nomtipo'].invalid && 
                        tipoForm.controls['nomtipo'].dirty">La tipo es
                        requerido.</small>
        </div>

       


    </form>



    <ng-template pTemplate="footer">
        <p-button icon="pi pi-cancel" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        
        <p-button icon="pi pi-add" (click)="addEditTipo()" label="{{modalType}}" styleClass="p-button-text"
            [disabled]="tipoForm.invalid"></p-button>


    </ng-template>

</p-dialog>