<section class="content">
    <div class="block-content">
        <h3 class="block-title"></h3>
        <div class="row">
                    <div class="botones">

                        <button type="submit" [routerLink]="['/asociados/membrecia']"
                            class="btn inscrip">Carnet Virtual</button>

                        <button type="submit" [routerLink]="['/asociados/masinfo']" class="btn list">Más Información</button>

                    </div>
        </div>
        <div class="row">
            <div id="club" class="mx-auto">

                <p-table [value]="corredorankes" sortField="club" sortMode="single" [sortOrder]="-1" dataKey="club"
                    rowGroupMode="subheader" groupRowsBy="club">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="club">
                                <h1 class="titulo">Corredores Asociados</h1>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="1" class="text-right font-bold pr-5"><strong class="pr-5">Total</strong>
                                {{corredorankes.length}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="groupheader" let-corre let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td class="flex">
                                <div class="flex align-items-center">
                                    <img [alt]="corre.club" [src]="mediaLocation+corre.foto" width="70" />
                                </div>

                                <span class="flex-1 flex align-items-center  font-bold   ml-2">{{corre.club}}</span>

                                <span class="flex align-items-center  font-bold   mxn-2">{{corre.cantidad}}</span>

                                <div class="flex align-items-center">
                                    <button type="button" pButton pRipple [pRowToggler]="corre"
                                        class="p-button-text p-button-rounded p-button-plain font-bold ml-3 "
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">


                                    </button>
                                </div>

                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="rowexpansion" let-corre>
                        <tr>
                            <td class="flex flex-column align-items-center justify-content-center corredor">
                                <h4> {{corre.corredor}} </h4>
                                <h5> {{corre.categoria}}</h5>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</section>