<section class="content">

  <div class="block-content">

    <h3 class="block-title">Inscripcion - {{ordenevento}} Fecha</h3>
    <div class="row">


      <div *ngIf="inscripto==0" class="centro">

        <div *ngIf="evento" class="wrapper">
          <img class="logo-image" *ngIf="evento.club.rutagrande" [src]="mediaLocation+evento.club.rutagrande"
            [alt]="evento.club.rutagrande" />

          <h1>{{evento.fecha | date: 'dd/MM/yyyy':'UTC'}}</h1>
          <h3>Presentacion</h3>
          <div class="box-text">
            <pre>{{evento.informacion}}</pre>
          </div>
          <h3>Informacion</h3>
          <div class="box-text">
            <pre>{{evento.locales}}</pre>
            <button class="btn outline">
              <a href="{{evento.urlpromocional}}" target="_blank" rel="noopener noreferrer">
                <div class="icon"><i class="fa-solid fa-plane"></i></div>Mapa del trayecto
              </a>
            </button>
          </div>

          <h3>Formas de pagos</h3>
          <div class="box-text">
            <pre>{{evento.deposito}}</pre>
          </div>


          <h3>Inscribirse</h3>
          <div class="box-text">
            <div class="wrapper-login">
              <div class="form-box login">


                <form (ngSubmit)="formSubmit()">
                  
                  <p-toast position="bottom-center" key="bc"></p-toast>

                  <span class="p-float-label form-field  input-box">
                    <input id="ci" type="text" pInputText [(ngModel)]="ci" name="ci" (focusout)="focusOutFunction()"
                      required>
                    <label for="ci" class="cblanco"> Cedula de identidad</label>
                  </span>
                  <span class="p-float-label form-field  input-box">
                    <input id="nombreCorredor" type="text" pInputText [(ngModel)]="corredorbus.corredor"
                      name="nombreCorredor" disabled="true">
                    <label for="nombreCorredor" class="cblanco"> Corredor</label>
                  </span>

                  <div class="flex justify-content-between flex-wrap">
                    <label for="club" class="flex align-items-center justify-content-center font-bold ">
                      Club: </label>
                    <label id="club" class="flex align-items-center justify-content-center  m-2">
                      {{corredorbus.club}}</label>
                  </div>

                  <div class="flex justify-content-between flex-wrap">
                    <label for="fecnac" class="flex align-items-center justify-content-center font-bold ">Fecha
                      Nacimiento: </label>
                    <label id="fecnac" class="flex align-items-center justify-content-center  m-2">{{corredorbus.fecnac
                      | date: 'dd/MM/yyyy':'UTC' }}</label>
                  </div>

                  <div class="field">
                    <label for="tipo">Distancia: </label>
                    <p-dropdown [options]="tipos" [(ngModel)]="tipo" id="tipo" placeholder="Elegir Tipo de Categoria"
                      optionLabel="label" optionValue="value" [ngModelOptions]="{standalone: true}"
                      [style]="{'width':'100%'}" [showClear]="true" appendTo="body"></p-dropdown>
                  </div>

                  <div class="field">
                    <label for="nombre">Categoria Calculada</label>
                    <app-cat-corredor [fecnac]="corredorbus.fecnac" [sexo]="corredorbus.sexo" [tipocat]="tipo"
                      [idmodalidad]="idmodalidad" (emitCategoria)="cargarCategoria($event)">
                    </app-cat-corredor>
                  </div>

                  <div class="field">
                    <label for="tamano">Tamaño de la Remera</label>
                    <p-dropdown [options]="tamanos" [(ngModel)]="corredorbus.tamano" id="tamano"
                      placeholder="Seleccionar tamano de categoria" autoWidth="false" [style]="{'width':'100%'}"
                      optionLabel="label" optionValue="value" [ngModelOptions]="{standalone: true}" [showClear]="true"
                      appendTo="body"></p-dropdown>
                  </div>

                  <div class="field">
                    <label>Terminos de Participacion</label>

                    <p-scrollPanel
                      [style]="{ width: '100%', height: '200px','color':'bisque','border-color':'bisque','border-width': '2px' ,'border-style': 'solid' }">
                      <p>
                        <strong>Termino 1:</strong> Reconozco que participar de la Competencia de Running o Trail, es una
                        actividad con alto riesgo. Por lo tanto, declaro que me encuentro realmente apto/a y
                        adecuadamente entrenado/a para participar en esta prueba. Acepto toda decisión de un Oficial de
                        la carrera respecto a mi capacidad de poder completar o no la competencia. Asimismo, acepto la
                        decisión de cualquiera de las opiniones de los organizadores de la Competencia, en caso de que
                        decidan ordenarme abandonar la competencia por cuestiones de salud u otro motivo que se
                        consideren. Asumo todos los riesgos asociados con participar en esta competencia, de cualquier
                        índole que fueran, caídas, accidentes, lesiones de todo tipo, etc., abarcadora de las
                        consecuencias del clima, incluyendo temperatura y/o humedad, tránsito vehicular y condiciones
                        del camino, todos los riesgos conocidos y apreciados por mí. <strong>Termino 2:</strong>
                        Habiendo leído esta documentación, conociendo estos hechos y considerando su aceptación a
                        participar en la carrera, yo, en mi nombre y en el de cualquier persona que actúe en mi
                        representación, libero a los organizadores y/o coordinadores de la carrera, voluntarios y a
                        todos los auspiciantes, sus representantes y sucesores de todo reclamo y responsabilidad de
                        cualquier tipo que surja de mi participación en este evento, aunque esta responsabilidad pueda
                        surgir de negligencia o culposidad de parte de las personas nombradas en esta declaración, así
                        como cualquier extravío, robo y/o hurto que pudiera sufrir. <strong>Termino 3:</strong> Autorizo
                        a los organizadores de la prueba y auspiciantes al uso de fotografía, películas, videos y
                        grabaciones y cualquier tipo de medio que registre el evento haciendo uso legítimo, sin
                        compensación alguna.
                      </p>
                    </p-scrollPanel>
                  </div>
                  
                  <span class="field-checkbox ">
                    <p-checkbox name="grupo" [binary]="true" [(ngModel)]="selectedTerminos"
                      inputId="selected"></p-checkbox>
                    <label for="selected" class="cblanco">Click para aceptar los terminos de participacion
                    </label>
                  </span>

                  <button pButton pRipple label="Inscribirse" type="submit"
                    class=" btn-box p-button-raised p-button-secondary" [disabled]="!selectedTerminos"></button>

                </form>

              </div>
            </div>
          </div>
        </div>

      </div>

      <app-registrocorredorrun *ngIf="inscripto==1" [participante]="participante">
      </app-registrocorredorrun>

      <app-add-corredor *ngIf="inscripto==2" 
      [selectedCorredor]="selectedCorredor" 
      [idevento]="idevento"
      (clickClose)="hideModal($event)"
      (clickSave)="saveParticipante($event)">
      </app-add-corredor>

    </div>
  </div>

</section>