<p-toast></p-toast>

<p-table #dt [value]="eventoAsignaciones" [rows]="10" [paginator]="true" [globalFilterFields]="['evento.nomevento','asignacion.nomasignacion']"
    [tableStyle]="{'min-width': '50rem'}" [rowHover]="true" dataKey="ideventoAsignacion"
    currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} totales" [showCurrentPageReport]="true"
    >

    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2" (click)="showModal()"></button>
            
            <h2 class="m-0">EventoAsignacions</h2>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            
            <th pSortableColumn="evento.nomevento" style="min-width:15rem">Evento <p-sortIcon field="evento.nomevento"></p-sortIcon></th>
            <th> Asignacion</th>
            <th >Corredor </th>
            <th >Puntaje </th>

            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-eventoAsignacion>
        <tr>
            <td>{{eventoAsignacion.evento.nomevento | uppercase}} </td>
            <td>{{eventoAsignacion.asignacion.nomasignacion}}</td>
            <td>{{eventoAsignacion.corredor.nombre | uppercase}} {{eventoAsignacion.corredor.apellido | uppercase}} </td>
            <td>{{eventoAsignacion.puntaje}}</td>

            <td>
                <button  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="editEventoAsignacion(eventoAsignacion)"></button>
                <button  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteEventoAsignacion(eventoAsignacion)"></button> 
            </td>
        </tr>
    </ng-template>
    
</p-table>

 <app-add-edit-evento-asignacion 
    [displayAddEditModal]="displayAddEditModal"
    [selectedEventoAsignacion]="selectedEventoAsignacion"
    (clickClose)="hideModal($event)"
    (clickAddEdit)="saveEventoAsignacionToList($event)"
></app-add-edit-evento-asignacion> 

<p-confirmDialog header="Borrar" [style]="{width: '50vw'}" icon="pi pi-exclamation-triangle"></p-confirmDialog>