


      <p-carousel [value]="campeoness" [numVisible]="1" [numScroll]="1" [circular]="true" >
        <ng-template let-campeon pTemplate="item">

          <h1 class="main-title">{{campeon.categoriah.nomcorto}}</h1>

          <div class="container2 border1 slideshow-container ">

            <section class="mySlides ">
              <figure class="figure figure-troll-{{campeon.puesto}}">
                <img class='monsimg  '
                  *ngIf="campeon.ruta" [src]="mediaLocation+campeon.ano+'/'+campeon.ruta" [alt]="campeon.ruta">
              </figure>
              <div class="content2">
                
                <h3>{{campeon.nombre}}</h3>
                
                </div>

                <figure class="figure2 ">
                   <img *ngIf="campeon.club.ruta" [src]="mediaLocation+campeon.club.ruta" [alt]="campeon.club.ruta" />
                   <div>
                      {{campeon.puesto ==1 ? 'CAMPEON ' : campeon.puesto ==2 ? 'VICECAMPEON ' :'TERCER PUESTO '}} <br>
                      {{campeon.categoriah.nomcorto | uppercase}} <br>
                      CAMPEONATO URCI {{campeon.ano}}

                   </div>
                 </figure>
              <footer class="footer footer-troll-{{campeon.puesto}}">
                <div class="details">
                  <h6>Puntos</h6>
                  <p>{{campeon.puntos}}</p>
                </div>
                <div class="details">
                  <h6>Cantidad</h6>
                  <p>{{campeon.cantidad}}</p>
                </div>
                <div class="details">
                  <h6>Kmts.</h6>
                  <p>{{campeon.kmts}}</p>
                </div>
                <div class="details">
                  <h6>Promedio</h6>
                  <p>{{campeon.promedio}}</p>
                </div>
              </footer>
            </section>

          </div>

        </ng-template>

      </p-carousel>
