<p-dialog header="Header" [(visible)]="displayAddEditModal" [modal]="true" [style]="{width: '400px' }"
    (onHide)="closeModal()">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">{{modalType}} Campeonato</span>
    </ng-template>
    <form [formGroup]="campeonatoForm" class="campeonato-form">

        <div class="field">
            <label for="nomcampeonato">Nombre Campeonato</label>
            <input id="nomcampeonato" type="text" pInputText formControlName="nomcampeonato" [required]="true">
            <small class="p-error" *ngIf="
                        campeonatoForm.controls['nomcampeonato'].invalid && 
                        campeonatoForm.controls['nomcampeonato'].dirty">El nombre del campeonato es
                requerido.</small>
        </div>
         <div class="field">
            <label for="ruta" class="form-label">Seleccionar Imagen</label>
            <input id="ruta" name="ruta"  class="form-control"
                accept="image/gif, image/jpeg, image/png" type="file" (change)="selectFile($event)">
                <input type="hidden" name="oculto" formControlName="ruta"/>
                <p *ngIf="fileName" class="pl-4 align-middle mb-0">{{fileName}}</p>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-cancel" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>

        <p-button icon="pi pi-add" (click)="addEditCampeonato()" label="{{modalType}}" styleClass="p-button-text"
            [disabled]="campeonatoForm.invalid"></p-button>


    </ng-template>

</p-dialog>