<p-panel  [style]="{width: '400px' }"
    (onHide)="closeModal()">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Confirmar Cambios</span>
    </ng-template>

    <form [formGroup]="corredorForm" class="field flex flex-wrap">
        <fieldset  class="mr-2">
            

            

                <div class="texto-resaltado">
                    {{ selectedCorredor.corredor }}
                </div>
                
            <div class="field">
                <label for="telefono">Telefono</label>
                <input type="text" pInputText id="telefono" formControlName="telefono" required placeholder="Telefono"
                    class="prime" [style]="{'width':'100%'}" />
                <small class="p-error" *ngIf="
                corredorForm.controls['telefono'].invalid && 
                corredorForm.controls['telefono'].dirty">Teleono del corredor es requerido.</small>
            </div>

        
            <div class="field">
                <label for="tipo">Tipo de Categoria</label>
                <p-dropdown [options]="tipos" formControlName="tipocat" id="tipo"
                    placeholder="Seleccionar tipo de categoria" autoWidth="false" [style]="{'width':'100%'}"
                    optionLabel="label" optionValue="value" [showClear]="true" appendTo="body"></p-dropdown>
            </div>


            <div class="field">
                <label for="nombre">Categoria Calculada</label>
                <app-cat-corredor 
                    [fecnac]="corredorForm.value.fecnac" 
                    [sexo]="corredorForm.value.sexo"
                    [tipocat]="corredorForm.value.tipocat"
                    [idmodalidad]="idmodalidad"
                    (emitCategoria)="cargarCategoria($event)">
                </app-cat-corredor>

            </div>

        <div class="field">
            <label for="nombre">Club</label>

            <p-dropdown [options]="clubes" formControlName="club" placeholder="Seleccionar un club" autoWidth="false"
                [filter]="true" [filterBy]="'nomclub'" [style]="{'width':'100%'}" optionLabel="nomclub"
                [showClear]="true" appendTo="body"></p-dropdown>

        </div>

    </fieldset>
    
    </form>



    <ng-template pTemplate="footer" class="flex justify-content-end flex-wrap" >
        <!-- <p-button icon="pi pi-cancel" (click)="closeModal()" label="Cancel" styleClass="p-button-text ml-5 mr-5  bg-primary"></p-button> -->
        <p-button icon="pi pi-add" (click)="addEditCorredor()" label="{{modalType}}" styleClass="p-button-text ml-5 bg-primary" 
            [disabled]="corredorForm.invalid"></p-button>


    </ng-template>

</p-panel>